IRC_ADDRESS=irc.rizon.net
IRC_USERNAME= #IRC Username, this will be displayed at the online tab
NICKSERV_PASS= # nickserv password

MEDUSA_URL= #URL to pyMedUSA instence
MEDUSA_API_KEY= #pyMedUSA API Key

WEBHOOK_URL= #Discord webhook URL

QBIT_BURL= #qBittorrent URL
QBIT_USERNAME= #qBittorrent Username
QBIT_PASSWORD= #qBittorrent Password
QBIT_DOWNLOADPATH= #Path to where qbittorrent will save the file, if not resent qbittorrrent will save to default path