IRC_ADDRESS=irc.rizon.net
IRC_USERNAME= #IRC Username, this will be displayed at the online tab
NICKSERV_PASS= # nickserv password

# set the allowed resolution, seperated by commas (eg. 480p, 720p, 1080p) if you just want one put it in alone
ALLOWED_RESOLUTION=1080p

MEDUSA_URL= #URL to pyMedUSA instence
MEDUSA_API_KEY= #pyMedUSA API Key

# If you dont want to use it, comment/remove the line
WEBHOOK_URL= #Discord webhook URL
# set to false if you dont want to announce the connection
ANNOUNCE_CONNECTION=true

QBIT_BURL= #qBittorrent URL
QBIT_USERNAME= #qBittorrent Username
QBIT_PASSWORD= #qBittorrent Password
QBIT_DOWNLOADPATH= #Path to where qbittorrent will save the file, if not resent qbittorrrent will save to default path